{% load custom_filters %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <!-- <form method="POST"> -->
    <table>
        <tr>
            <td>Sr.no</td>
            <td>CourseName</td>
            <td>NoComments</td>
            <td>rating</td>
            <td>giveinput</td>
        </tr>
    
        {% for i in values %}
        <tr>
                <td>{{i.course_id}}</td>
                <td>{{i.Coursename}}</td>
                <td>{{i.coursedata_set.all.count}}</td>
                {% for k,v in courserating.items%}
                    {% if k == i.Coursename%}
                        <td>{{v}}</td>
                    {% endif %}
                    
                {% endfor %}
                <td><a href="{% url 'insertrating' courseid=i.course_id %}" type="button">insert</a></tr>
        </tr>
        {% endfor%}
    </table>
    
    <script>
        $(document).ready(function(){
          $("#myBtn").click(function(){
            $("#myModal").modal();
          });

        });
        </script>
</body>