<!-- <html>
    <head>
        <style type="text/css">
            #popup-container{
                width: 45%;
                position: absolute;
                left: 25%
                bottom: 10%
                width:45%
                padding: 20px;
                border: 1px solid #ccc;
                display: none;
            }
        </style>
    </head>
    <body>
        <button id = 'show-popup-btn'> Show popup </button>
        <div id="popup-container">
            <div id="close-btn">
                <span>close</span>
            </div>
            <h2>popup heading</h2>
            <p>popup body</p>
        </div>
    </body>
</html> -->
